@using MartinKulev.Services.Helper
@inject NavigationManager NavManager
<section class="d-flex justify-content-center mt-4 cursor-pointer" @onclick="@(() => NavManager.NavigateTo(OnClickPath))">
    <div class="shadow p-4 bg-white rounded container-width mx-auto px-3 px-md-4">
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <span class="me-5"><strong>Specialization:</strong> @Specialization</span>
                <span><strong>Duration:</strong> @StartDate.ToString("MMM yyyy") - @HelperService.GetEndDateToString(EndDate) @HelperService.GetDurationToString(StartDate, EndDate)</span>
            </div>
            <div class="d-flex justify-content-between">
                <span class="me-5"><strong>School:</strong> @School</span>
                <span><strong>Location:</strong> @Location</span>
            </div>
        </div>

        <div class="d-flex">
            <div class="me-3 d-flex align-items-center justify-content-center img-container">
                <img src="@ImagePath" class="image" />
            </div>
            <div class="flex-grow-1">
                <p class="mb-0">
                    @Description
                </p>
            </div>
        </div>
    </div>
</section>




@code {
    [Parameter] public string Specialization { get; set; }
    [Parameter] public string School { get; set; }
    [Parameter] public DateTime StartDate { get; set; }
    [Parameter] public DateTime? EndDate { get; set; }
    [Parameter] public string Location { get; set; }
    [Parameter] public string ImagePath { get; set; }
    [Parameter] public string OnClickPath { get; set; }
    [Parameter] public string Description { get; set; }
}