@inject NavigationManager NavManager
<section class="d-flex justify-content-center mt-4 cursor-pointer" @onclick="@(() => NavManager.NavigateTo(OnClickPath))">
    <div class="shadow p-4 bg-white rounded container-width mx-auto px-3 px-md-4">
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <span class="me-5"><strong>Job Title:</strong> @JobTitle</span>
                <span><strong>Duration:</strong> @Duration</span>
            </div>
            <div class="d-flex justify-content-between">
                <span class="me-5"><strong>Company:</strong> @Company</span>
                <span><strong>Location:</strong> @Location</span>
            </div>
        </div>

        <div class="d-flex">
            <div class="me-3 d-flex align-items-center justify-content-center img-container">
                <img src="@ImagePath" class="image" />
            </div>
            <div class="flex-grow-1">
                <p class="mb-0">
                    @Description
                </p>
            </div>
        </div>
    </div>
</section>




@code {
    [Parameter] public string JobTitle { get; set; }
    [Parameter] public string Company { get; set; }
    [Parameter] public string Duration { get; set; }
    [Parameter] public string Location { get; set; }
    [Parameter] public string ImagePath { get; set; }
    [Parameter] public string OnClickPath { get; set; }
    [Parameter] public string Description { get; set; }
}