@page "/projectdetails/{projectName}"
@using MartinKulev.Shared.Components.Inputs


<h3 class="text-center">@Vm.ProjectDetails.Name</h3>

<div class="details-container">
    <div class="readme-section">
        <h4>README</h4>
        <div class="readme-content">
            @((MarkupString)Vm.ProjectDetails.ReadMe)
        </div>
    </div>

    <div class="info-section">
        <div>
            <strong>Languages:</strong>
            <ul class="language-list">
                @foreach (var lang in Vm.ProjectDetails.Languages)
                {
                    <li class="language-item lang-@GetLanguageClass(lang)">
                        @lang
                    </li>
                }
            </ul>
        </div>
        <p><strong>Created:</strong> @Vm.ProjectDetails.CreatedAt.ToString("dd MMMM, yyyy")</p>
        <p><strong>Last Updated:</strong> @Vm.ProjectDetails.UpdatedAt.ToString("dd MMMM, yyyy")</p>
        <p><strong>Commits:</strong> @Vm.ProjectDetails.CommitsCount</p>

        <p>
            <span>🔗<a href="@Vm.ProjectDetails.HtmlUrl" target="_blank">GitHub Repo</a></span>
        </p>
        @if (!string.IsNullOrEmpty(Vm.ProjectDetails.Homepage))
        {
            <p>
                <span>🌐<a href="@Vm.ProjectDetails.Homepage" target="_blank">Live Site</a></span>
            </p>
        }
    </div>
</div>
