@page "/projects"
<PageTitle>Projects</PageTitle>
<h3 class="text-center">Projects</h3>


<div class="project-grid">
    @foreach (var project in Vm.GitHubRepos)
    {
        <div class="project-card">
            <h3>@project.Name</h3>
            <p class="language lang-@GetLanguageClass(project.Language)">
                @project.Language
            </p>
            <p><strong>Created:</strong> @project.CreatedAt.ToString("dd MMMM, yyyy")</p>
            <p><strong>Updated:</strong> @project.UpdatedAt.ToString("dd MMMM, yyyy")</p>

            <a href="@project.HtmlUrl" target="_blank">🔗 GitHub Repo</a>

            @if (!string.IsNullOrEmpty(project.Homepage))
            {
                <p>
                    <a href="@project.Homepage" target="_blank">🌐 Live Site</a>
                </p>
            }
            <p>

            </p>
        </div>
    }
</div>
